<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base::layout(~{::title},~{::section})}"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>add notes</title>
    </head>
    <body>
        <section class="banner">
            <div class="container mt-2 text-dark">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="my-card mt-5 rounded mt-1">
                            <div class="card-header text-center">
                                <h3>Add your Notes</h3>
                                <th:block th:if="${session.msg}">
                                    <p class="fs-5 text-center text-success">
                                        [[${session.msg}]]
                                    </p>
                                </th:block>
                                <th:block
                                    th:text="${@userServiceImpl.removeSessionMessage()}"
                                ></th:block>
                            </div>
                            <div class="card-body">
                                <form action="saveNotes" method="post">
                                    <div class="mb-3">
                                        <label for="">Enter Title</label>

                                        <input
                                            name="title"
                                            id=""
                                            class="form-control"
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="">Enter Description</label>
                                        <textarea
                                            rows="6"
                                            cols=""
                                            type="text"
                                            name="description"
                                            id=""
                                            class="form-control"
                                        ></textarea>
                                    </div>
                                    <button class="btn bg-primary mt-4">
                                        save
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
