<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base::layout(~{::title},~{::section})}"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>index page</title>
    </head>
    <body>
        <section
            class="banner d-flex justify-content-center align-items-center"
        >
            <div class="container-fluid p-0 m-0">
                <img src="/img/notes.jpg" alt="" height="100%" width="100%" />
                -->
                <!-- <!-- <img src="" alt=""> -->
            </div>
        </section>
    </body>
</html>
